section {
    width: 228px;
    height: 584px;
    top: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    right: 172px;
}

section > div {
    left: 0;
    height: 40px;
    position: relative;
    background: #1d33ab;
    color: white;
    box-shadow: 1px 2px 3px 2px #3a483b;
    transition: all 2s;
}

section > div > h3 {
    margin: 0;
    display: inline-block;
    padding: 10px;
}

section > div > i {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 28px;
}

section > div:hover {
    background: green;
    left: 172px;
    cursor: pointer;
    transition: all 2s;

}